In [5]:
a ={
    "id": 1,
    "name":"Pragyan",
    "address":"Bhangal",
    "number":"97738383838",
}
print(a)

{'name': 'Pragyan', 'address': 'Bhangal', 'number': '97738383838'}

In [9]:
# Accessing the dictionary
print(a["address"])

Bhangal

In [14]:
# Accessing Multipe Values
a.values()

dict_values(['Pragyan', 'Bhangal', '97738383838'])

In [15]:
# Accessing Multipe Keys
a.keys()

dict_keys(['name', 'address', 'number'])

In [16]:
a ={
    "name":"Pragyan",
    "address":"Bhangal",
    "number":"97738383838",
}
b ={
    "name":"Krishna",
    "address":"KMC",
    "number":"97738383838",
}
print("Addition of dict:",a,b)

Addition of dict: {'name': 'Pragyan', 'address': 'Bhangal', 'number': '97738383838'} {'name': 'Krishna', 'address': 'KMC', 'number': '97738383838'}

In [2]:
a = {
    "name" : ["pragyan","krishna","ram"]

}
print(a["name"][0])

pragyan

In [8]:
b = {
    "name": ['sudan', 'bhandari']
}
a = [b, 1, 3, [1.5, 77, 1]]


name1 = a[0]["name"][0]
name2 = a[0]["name"][1]
num1 = a[3][1]

print(name1,name2,num1)
print(f"{name1} {name2} {num1}")

sudan bhandari 77
sudan bhandari 77

In [9]:
b = {
    "name":['sudan','bhandari']
}
a = [b,1,3,[1.5,77,1]]
c=a[0]
 
d=a[3][1]
 
print(f"{c["name"][0]} {c["name"][1]} {d}")

sudan bhandari 77

In [12]:
# Credentials = {
#     "names":["Pragyan Khadka","Krishna Bhatta","Prapti Khadka","Dikshyant Chapagain"],
#     "Id":[1,2,3,4],
#     "Address":["Bhangal","Bhimsengola","Bhangal","Bhimsengola"]
# }
# ParentsInfo = {
#     "names":["Shanta Khadka","Krish Bhatta","Bimal Khadka","Pratima Chapagain"],
#     "Id":[1,2,3,4],
#     "Address":["Bhangal","Bhimsengola","Bhangal","Bhimsengola"]
# }
# ParentsWorkType = {
#     "Profession":["Civil Engineer","IT Technician","Doctor","Banker"],
#     "EmploymentStatus":["Employed","Employed","Employed","Employed"],
#     "Address":["Bhangal","Bhimsengola","Bhangal","Bhimsengola"]
# }
# getCredintials = {Credentials,ParentsInfo,ParentsWorkType}
# print(f"{getCredintials}")

TypeError: unhashable type: 'dict'

In [5]:
a ={
    "name":['sudan','bhandari'],
    "phone":23737
}
print(a["name"])
a["name"] = "sudan"
print(a)

['sudan', 'bhandari']
{'name': 'sudan', 'phone': 23737}

In [8]:
# using update method to update a key in dictionary
a = {
    "name":"broadway",
    "phone":980
}
a.update({"age":11})
print(a)

{'name': 'broadway', 'phone': 980, 'age': 11}

In [10]:
#clear method
a.clear()
print("Clear method",a)

Clear method {}

In [11]:
# Delete method
del a
print(a)

NameError: name 'a' is not defined

In [13]:
# pop method 
a = {
    "name":["broadway","infosys"],
    "phone":980
}
a.pop("name")
print(a)

{'phone': 980}

In [14]:
data ={
    "city":"Kathmandu",
    "workcity": "Kathmandu",
    "address":"budhanilkantha"
}
data.popitem()
print(data)

{'city': 'Kathmandu', 'workcity': 'Kathmandu'}

In [15]:
a = {
    "name":["broadway","infosys"],
    "phone":980
}
b = a.copy()
print("copy a dictionary",b)

copy a dictionary {'name': ['broadway', 'infosys'], 'phone': 980}

In [17]:
a = {
    "name":["broadway","infosys"],
    "phone":980
}
b = dict(a)
print(b)

{'name': ['broadway', 'infosys'], 'phone': 980}

In [18]:
data ={
    ["Name":"Pragyan",
    "College":
      {
        "name": "ICK",
        "address":"Kamalpokhari"

      },
      {
          "name":"Global"
          "address":"Mid-Baneshwor"
          
      }
    ], 
}
collegeAddress = data["College"]["address"]
print(collegeAddress)

Kamalpokhari